<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="chat.png" type="image/x-icon">
    <title>ChatAPP</title>
    <link rel="stylesheet" href="stylehome.css">
</head>
<body>
<div class="main-cotainer">
    <h1>Welcome Online Chat APP</h1>
    <div class="container">
        <form action="/user_details" method="post">
            <img src="chat.png"  alt="">
            <label for="">Username <span>*</span>
            <input type="text" name="username" placeholder="Please enter name" maxlength="25" autocomplete="off" autofocus required>
            </label>
            <label for="">Password <span>*</span>
                <input type="password" name="password" placeholder="Please enter password" required>
            </label>
            <button>Login</button>
            <p>Don't have an account? <a href="">Sign up here.</a></p>
        </form>
    </div>
</div>
</body>
</html>