*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.main-cotainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h1{
    height: 10vh;
    background-color:#128C7E;
    color: white;
    text-align: center;
    line-height: 10vh;
}
.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.message{
    gap: 1vh;
    height: 80vh;
    color: white;
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    overflow: auto;
}
form{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}
input{
    height: 5vh;
    width: 30vw;
    word-break: break-all;
    text-wrap: wrap;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0px solid;
    padding: 0px 0.5rem; 
    font-size: 1rem;
    font-weight: 500;   
}
input:focus{
    outline: none;
}
button{
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    align-items: center;
    border-radius: 50%;
    background-color: #25d366;
    cursor: pointer;
    border: 0px solid;
}
button:hover{
    background-color: green;
}
.sender{
    max-width: 20vw;
    height: max-content;
    border-radius: 0.5rem 0rem 0.5rem 0rem;
    background-color: #075E54;
    color: white;
    padding: 0.5vw;
    align-self: flex-end;
}
.para{
    width:100%;
    word-break: break-all;
    min-height: 5vh;
    text-wrap: wrap;
    display: flex;
    align-items: center;
}
.recieved{
    max-width: 20vw;
    height: max-content;
    border-radius: 0rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
    background-color: #313335;
    color: white;
    padding: 0.5vw;
    align-self: flex-start;
}



::-webkit-scrollbar{
    background-color: transparent;
    width: 0.5vh; 
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 0.25vh;
    width: 0.5vh;
}
.bajo{
    height: 3vh;
    width: 3vh;
    background-color: white;
    clip-path: polygon(0% 0%,100% 50%,0% 100%,10% 70%,50% 50%,10% 30%);
}
.span{
    color:orange;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
}
.span2{
    width: 100%;
    color:blueviolet;
    font-size: 1rem;
    font-weight: 700;
}

@media(max-width:431px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   input{
        width: 80vw;
   }
   form{
    gap: 1vh;
   }
   .sender,.recieved{
    max-width: 60vw;
    padding: 1vw;
   }
   .span,.span2,.para{
    width: 100%;
   }
}
.img{
    height: 1vw;
}
@media(max-width:361px){
    h1{
        font-size: 1.7rem;
    }
    .message{
        height: 70vh;
    }
    form{
        height: 20vh;
    };
}